.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background: #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
}
